#改自墨鱼


hostname = duckduckgo.com


#>>>>>>>>>>>>>>>>>>>>>>>翻译
# yd  xxx (有道词典)
^https:\/\/duckduckgo.com\/\?q=yd\+([^&]+).+ url 302 http://dict.youdao.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+yd.+ url 302 http://dict.youdao.com/search?q=$1
# trc xxx (Google 译至中)
^https:\/\/duckduckgo.com\/\?q=trc\+([^&]+).+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=zh-CN&text=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+trc.+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=zh-CN&text=$1
# tre xxx (Google 译至英)
^https:\/\/duckduckgo.com\/\?q=tre\+([^&]+).+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+tre.+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=en&text=$1
# trj xxx (Google 译至日)
^https:\/\/duckduckgo.com\/\?q=trj\+([^&]+).+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=ja&text=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+trj.+ url 302 https://translate.google.com/#view=home&op=translate&sl=auto&tl=ja&text=$1



#>>>>>>>>>>>>>>>>>>>>>>>社区
# zh    xxx (知乎)
^https:\/\/duckduckgo.com\/\?q=zh\+([^&]+).+ url 302 http://www.zhihu.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+zh.+ url 302 http://www.zhihu.com/search?q=$1
# tw    xxx (Twitter)
^https:\/\/duckduckgo.com\/\?q=tw\+([^&]+).+ url 302 https://twitter.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+tw.+ url 302 https://twitter.com/search?q=$1
# gh    xxx (GitHub)
^https:\/\/duckduckgo.com\/\?q=gh\+([^&]+).+ url 302 https://github.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+gh.+ url 302 https://github.com/search?q=$1
# gu    xxx (GitHub User)
^https:\/\/duckduckgo.com\/\?q=gu\+([^&]+).+ url 302 https://github.com/search?q=$1&type=users
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+gu.+ url 302 https://github.com/search?q=$1&type=users
# gc    xxx (GitHub Code)
^https:\/\/duckduckgo.com\/\?q=gc\+([^&]+).+ url 302 https://github.com/search?o=desc&q=$1&s=indexed&type=Code
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+gc.+ url 302 https://github.com/search?o=desc&q=$1&s=indexed&type=Code
# so    xxx (Stack Overflow)
^https:\/\/duckduckgo.com\/\?q=so\+([^&]+).+ url 302 https://stackoverflow.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+so.+ url 302 https://stackoverflow.com/search?q=$1
# se    xxx (StackExchange)
^https:\/\/duckduckgo.com\/\?q=se\+([^&]+).+ url 302 https://stackexchange.com/search?q=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+se.+ url 302 https://stackexchange.com/search?q=$1
# wa    xxx (WolframAlpha)
^https:\/\/duckduckgo.com\/\?q=wa\+([^&]+).+ url 302 https://www.wolframalpha.com/input/?i=$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+wa.+ url 302 https://www.wolframalpha.com/input/?i=$1


#>>>>>>>>>>>>>>>>>>>>>>>搜索
# bd  xxx (百度搜索)
^https:\/\/duckduckgo.com\/\?q=bd\+([^&]+).+ url 302 https://www.baidu.com/s?wd=$1
^https:\/\/duckduckgo.com\/\?q=((.(?!bd))+)\+bd.+ url 302 https://www.baidu.com/s?wd=$1
# wk  xxx (维基搜索)
^https:\/\/duckduckgo.com\/\?q=wk\+([^&]+).+ url 302 https://zh.wikipedia.org/wiki/$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+wk.+ url 302 https://zh.wikipedia.org/wiki/$1
# ios  xxx (苹果应用搜索)
^https:\/\/duckduckgo.com\/\?q=ios\+([^&]+).+ url 302 https://www.qimai.cn/search/index/search/$1
^https:\/\/duckduckgo.com\/\?q=([^+]+)\+ios.+ url 302 https://www.qimai.cn/search/index/search/$1
#g xxx （无指令默认为 Google）
^https:\/\/duckduckgo.com\/\?q=g\+([^&]+).+ url 302 https://www.google.com/search?q=$1
 ^https:\/\/duckduckgo.com\/\?q=([^+]+)\+g.+ url 302 https://www.google.com/search/index/search/$1
# you.com
 ^https:\/\/duckduckgo.com\/\?q=([^&]+).+ url 302 https://www.google.com/search?q=$1
